<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there, welcome to my site!</p>
        <p>I’m currently pursuing my Master’s at RWTH Aachen, Germany, 
          and working on my thesis at 
          <a href="https://www.dlr.de/de/bt/ueber-uns/abteilungen/automatisierung-und-qualitaetssicherung-in-der-produktionstechnologie">DLR</a>
          in Augsburg.</p>
        <p>Previously, I worked at 
          <a href="https://www.auxsys.com/">Auxsys</a> 
          as a hardware designer for exoskeletons, and with
          <a href="https://www.sonnenwagen.org/">Team Sonnenwagen Aachen</a>
          , building solar racing cars.</p>
      </div>
      <div class="col-lg-4">
        <p>Before that, I spent quite a bit of time at
          <a href="https://www.fablab-hamburg.org/galerie/">FabLab St. Pauli</a>
          in Hamburg, where many of my cool stories begin :D </p>
        <p> Feel free to contact me for a coffee chat if you're interested in any of my projects!</p>
      </div>
      <!--div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div-->
    </div>
  </div>
</section>
