<!-- bigProject bxslider -->
{% if post.category == "bigProject" %}
    {% if post.slide %}
        <divclass="bxslider">
        {% assign img_count = {{post.slide}} %}
        {% for i in (1..img_count) %}
            <img src="../img/bigProject_img/{{ post.slide-img }}{{i}}.png" alt="{{ post.alt }}">
        {% endfor %}
        </div>
    {% else %}
    <img src="../img/bigProject_img/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
<!-- smallProject bxslider -->
{% else %}
    {% if post.slide %}
        <divclass="bxslider">
        {% assign img_count = {{post.slide}} %}
        {% for i in (1..img_count) %}
            <img src="../img/smallProject_img/{{ post.slide-img }}{{i}}.png" alt="{{ post.alt }}">
        {% endfor %}
        </div>
    {% else %}
    <img src="../img/bigProject_img/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
{% endif %}
